body {
    background: #FFFFFF !important;
    background-color: #FFFFFF;
    font-family: Times;
    font-size: 12px;
    text-align: justify;
}

ol.componen {
    padding: 0px;
    list-style-type: upper-alpha;
}

ol.aspek {
    padding-left: 15px;
    list-style-type: lower-alpha;
}

ol.instrumen {
    padding-left: 16px;
    list-style-type: decimal;
}

ol.jawaban {
    padding-left: 16px;
    padding-top: 0px;
    list-style-type: inherit !important;
}

li.text-bold {
    font-weight: bold !important;
}

th,
td {
    padding: 5px;
}